black==24.4.2
cachetools==5.4.0
click==8.1.7
colorama==0.4.6
google-auth==2.32.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
LiveWires==2.1
numpy==2.0.1
oauthlib==3.2.2
pandas==2.2.2
pathspec==0.12.1
plotly==5.22.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygame==2.6.0
pytz==2024.1
requests-oauthlib==2.0.0
rsa==4.9
tenacity==8.5.0
tzdata==2024.1
rich==13.7.1